
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem; 
}


.character-card {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}


@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


@media (max-width: 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
